{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('admin.event_index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
             <a class="ui teal right floated button" target="_blank" href="{{ url_for('admin.add_event_faq',_external=True) }}">Add Event Faq</a>
            <h2 class="ui header">
                Added FAQ Texts
                <div class="sub header">
                    View and manage current faq headline text and descriptions.
                </div>
            </h2>
            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
					        <th>ID</th>
                            <th>Headline Text</th>
                            <th>Tagline</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for d in data  %}
                        <tr>

                            <td>{{ d.id }}</td>
                            <td>{{ d.title }}</td>
                            <td>{{ d.content }}</td>
                            <td> <a class="ui red left floated button" style="margin-top: 1px"
                                   href="{{ url_for('admin.delete_event_faq', id=d.id) }}" onclick="return confirmDeleteHomeText('{{ d.id }}');" data-content="{{ data.id }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function confirmDeleteHomeText(id){
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this hometext",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        let form = $("#delete-hometext-form");
                        form.attr('action', "{{ url_for('admin.delete_event_faq', id=0) }}".replace('0',id));
                        form.submit();
                    } else {
                        return false;
                    }
                });
            return false;
        }
    </script>
{% endblock %}