<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
{% if seo %}
  <title>{{seo.title }}</title>
  <meta content="{{seo.content }}" name="description">
 {% endif %}
  <meta content="{{seo.content }}" name="keywords">


  <!-- Favicons -->
	{% if favicon_image %}
  <link rel="shortcut icon" type="image/x-icon" href="{{ favicon_image.image_url }}">
	{% endif %}
	
{% if apple_touch_icon %}
  <link href="{{ apple_touch_icon.image_url }}" rel="apple-touch-icon">
	{% endif %}
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

 
   <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{{ url_for('static', filename='Presento/assets/vendor/aos/aos.css')}}">  
  <link rel="stylesheet" href="{{ url_for('static', filename='Presento/assets/vendor/bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='Presento/assets/vendor/bootstrap-icons/bootstrap-icons.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='Presento/assets/vendor/boxicons/css/boxicons.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='Presento/assets/vendor/glightbox/css/glightbox.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='Presento/assets/vendor/remixicon/remixicon.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='Presento/assets/vendor/swiper/swiper-bundle.min.css')}}">



  <!-- Template Main CSS File -->

  <link rel="stylesheet" href="{{ url_for('static', filename='Presento/assets/css/style.css')}}">
  
  <!-- Tracking scripts -->
  
    {% block styles %}{% endblock %}
    {% for script in tracking_script %}
    {{ script.script | safe }}
    {% endfor %}

{% if background_image %}
	<style>
	#hero {
		width: 100%;
		height: 100vh;
		position: relative;
		background: url({{ background_image.image_url}}) top center;
		background-size: cover;
		position: relative;
		
	}
	</style>
{# else #}
{% endif %}

  <!-- =======================================================
  * Template Name: Presento - v3.3.0
  * Template URL: https://bootstrapmade.com/presento-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
			  {% if logo %}
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="#hero" class="logo me-auto"><img src="{{ logo.image_url }}" alt=""></a>
			  {% else %}
		<h1 class="logo me-auto"><a href="/">{{ brand.text }}</a></h1>
			   {% endif %}



      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
		  {% if about %}
          <li><a class="nav-link scrollto" href="#about">About</a></li>
		  {% endif %}
		  {% if services %}
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
		  {% endif %}
		  {% if pages %}
		  {% for page in pages %}
          <li><a class="nav-link scrollto " href="/{{ page.name }}">{{ page.name }}</a></li>
		  {% endfor %}
		  {% endif %}
		  {% if portfolio %}
          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
		  {% endif %}
		  {% if testimonial %}
          <li><a class="nav-link scrollto" href="#testimonials">Testimonials</a></li>
		  {% endif %}
		  {% if faq %}
          <li><a class="nav-link scrollto" href="#faq">Faq</a></li>
		  {% endif %}
		  {% if team %}		  
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
		  {% endif %}
          <!----<li><a href="blog.html">Blog</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>------>
          <!----<li><a class="nav-link scrollto" href="/contact">Contact</a></li>---->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

		  {% if call_to_action %}
      <a href="{{ call_to_action.url }}" class="get-started-btn scrollto" target="_blank">{{ call_to_action.text }}</a>
		  {% endif %}
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6">
          <h1>{{ home_title.firstext }}</h1>
          <h2>{{ home_title.secondtext }}</h2>
	{% if call_to_action %}
          <a href="{{ call_to_action.url }}" class="btn-get-started scrollto">{{ call_to_action.text }}</a>
   {% endif %}
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
		  {% if client %}
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper-container">
		  {% for logo in client %}
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{{ logo.image_url }}" class="img-fluid" alt=""></div>
          </div>
		          {% endfor %}
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->
		  {% endif %}

	  {% if about %}
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">


		  <div class="container">

			<div class="section-title">
			  <h2>{{ about.title }}</h2>
			</div>

			<div class="row content">
				<p>
				  {{ about.description|safe }}
				</p>
			</div>


		  </div>
        </div>

      </div>
    </section><!-- End About Section -->
		  {% endif %}

		  {% if counts %}
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row">
 {% for count in counts %}
          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{ count.count }}" data-purecounter-duration="1" class="purecounter"></span>
              <p>{{ count.title }}</p>
            </div>
          </div>
 {% endfor %}
        </div>

      </div>
    </section><!-- End Counts Section -->
			  {% endif %}
{% if video %}
   <!-- ======= About Video Section ======= -->
   
 <style>
 .about-video 
 .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#2487ce 50%, rgba(36, 135, 206, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
}
.about-video .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
 </style>
    <section id="about-video" class="about-video">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
		  {% if video.image_url %}
		    <img src="{{ video.image_url }}" class="img-fluid" alt="">
			{% else %}
            <img src="/static/OnePage/assets/img/about-video.jpg" class="img-fluid" alt="">
			{% endif %}
            <a href="{{ video.url }}" class="glightbox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>
		  


          <div class="col-lg-6 pt-3 pt-lg-0 content aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
            <h3>{{ video.title }}</h3>
            <p>
              {{ video.description }}
            </p>
          </div>

        </div>

      </div>
    </section>
	<!-- End About Video Section -->
	{% endif  %}
{% if services %}
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg ">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <!----<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>--->
        </div>

        <div class="row">
		{% for service in services %}
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <!---<i class="bi bi-briefcase"></i>--->
              <h4><a href="#">{{ service.title }}</a></h4>
              <p>{{ service.description }}</p>
            </div>
          </div>
		  {% endfor %}
        </div>

      </div>
    </section><!-- End Services Section -->
{% endif  %}

{% if portfolio %}
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <!----<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>---->
        </div>

        <!----<div class="row" data-aos="fade-up" data-aos-delay="100">
          <!----<div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>---->
        <!---</div>---->

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
{% for p in portfolio %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ p.image_url }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{ p.title }}</h4>
                <p>{{ p.description }}</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('presento.portfolio_details', id=p.id) }}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
{% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->
{% endif  %}

{% if testimonial %}
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Testimonials</h2>
          <!---<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>--->
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
{% for t in testimonial %}
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>{{ t.full_name }}</h3>
                  <h4>{{ t.job_title }}</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    {{ t.comment }}
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
{% endfor %}

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->
{% endif %}
    <!-- ======= Pricing Section ======= -->
    <!----<section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="fade-up" data-aos-delay="100">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="fade-up" data-aos-delay="200">
              <h3>Business</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="300">
              <h3>Developer</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

{% if faq %}
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <ul class="faq-list accordion" data-aos="fade-up">
        		  {% for f in faq %}
          <li>
            <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq{{ f.id }}">{{ f.question }} <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq{{ f.id }}" class="collapse" data-bs-parent=".faq-list">
              <p>
              {{ f.answer |safe }}
              </p>
            </div>
          </li>
		  		  {% endfor %}

        </ul>

      </div>
    </section><!-- End Frequently Asked Questions Section -->
{% endif %}

{% if team %}
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <!---<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>--->
        </div>

        <div class="row">
{% for t in team %}
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="{{ t.id }}00">
              <div class="member-img">
                <img src="{{ t.image_url }}" class="img-fluid" alt="">
                <!----<div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>---->
              </div>
              <div class="member-info">
                <h4>{{ t.full_name }}</h4>
                <span>{{ t.job_title }}</span>
              </div>
            </div>
          </div>
{% endfor %}

        </div>

      </div>
    </section><!-- End Team Section -->
{% endif %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>{{ brand.text }}</h3>
			{% if footer_text %}
            <p>
             {{ footer_text.title }}
            </p>
			{% endif %}
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
			  {% if about %}
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
			  {% endif %}
		  {% if pages %}
		  {% for page in pages %}
              <li><i class="bx bx-chevron-right"> </i> <a href="/{{ page.name }}">{{ page.name }}</a></li>
		  {% endfor %}
		  {% endif %}
			  {% if services %}
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
			  {% endif %}
			  {% if portfoilio %}
              <li><i class="bx bx-chevron-right"></i> <a href="#portfolio">Portfolio</a></li>
			  {% endif %}
			  {% if team %}
              <li><i class="bx bx-chevron-right"></i> <a href="#team">Team</a></li>
			  {% endif %}
			  {% if testimonial %}
              <li><i class="bx bx-chevron-right"></i> <a href="#testimonials">Testimonials</a></li>
			  {% endif %}
			  {% if faq %}
              <li><i class="bx bx-chevron-right"></i> <a href="#faq">Faq</a></li>
			  {% endif %}
            </ul>
          </div>
		  
{% if services %}
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
			 {% for service in services %}
              <li><i class="bx bx-chevron-right"></i> <a href="#services">{{ service.title }}</a></li>
			  {% endfor %}
            </ul>
          </div>
{% endif %}

          <!----<div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>---->

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
	  {% if copyright_text %}
        <div class="copyright">
          &copy; Copyright <strong><span>{{ copyright_text.text }} </span></strong>. All Rights Reserved
        </div>
	  {% endif %}
      <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
        </div>
      </div>
      <!------
	  	  {# if media_icons #}
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
       	  	  {# for icons in media_icons #}
			  {# if icons.icon =='twitter' or 'twitter-square' or 'twitter-f'  #}
        <a href="{# media_icons.url_link #}" class="twitter"><i class="bx bxl-twitter"></i></a>
					  {# endif #}
			  {# if icons.icon =='facebook' or 'facebook-square' or 'facebook-f'  #}
        <a href="{# media_icons.url_link #}" class="facebook"><i class="bx bxl-facebook"></i></a>
			  {# endif #}
			  {# if icons.icon =='instagram' or 'instagram-square' or 'instagram-f'  #}
        <a href="{# media_icons.url_link #}" class="instagram"><i class="bx bxl-instagram"></i></a>
			  {# endif #}
			  {# if icons.icon =='google' or 'google-square' or 'google-f'  #}
        <a href="{# media_icons.url_link #}" class="google-plus"><i class="bx bxl-skype"></i></a>
			  {# endif #}
			  {# if icons.icon =='linkedin' or 'linkedin-square' or 'linkedin-f'  #}
        <a href="{# media_icons.url_link #}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
			  {# endif #}
			         	  	  {# endfor #}
      </div>
	  	  	  {# endif #}
          ----->
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  

  <!-- Vendor JS Files -->
  
  <script src="{{ url_for('static', filename='Presento/assets/vendor/aos/aos.js')}}"></script>
  <script src="{{ url_for('static', filename='Presento/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='Presento/assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{ url_for('static', filename='Presento/assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static', filename='Presento/assets/vendor/php-email-form/validate.js')}}"></script>
  <script src="{{ url_for('static', filename='Presento/assets/vendor/purecounter/purecounter.js')}}"></script>
  <script src="{{ url_for('static', filename='Presento/assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  




  <!-- Template Main JS File -->

  <script src="{{ url_for('static', filename='Presento/assets/js/main.js')}}"></script>

</body>

</html>