<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
{% if seo %}
  <title>{{seo.title }}</title>
  <meta content="{{seo.content }}" name="description">
 {% endif %}
  <link rel="shortcut icon" href="{{ url_for('static', filename='Sandbox/assets/img/favicon.png')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='Sandbox/assets/css/plugins.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='Sandbox/assets/css/style.css')}}">
  <link rel="preload" href="{{ url_for('static', filename='Sandbox/assets/css/fonts/thicccboi.css')}}" as="style" onload="this.rel='stylesheet'">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper bg-soft-primary">
      <nav class="navbar navbar-expand-lg center-nav transparent navbar-light">
        <div class="container flex-lg-row flex-nowrap align-items-center">
          <div class="navbar-brand w-100">
            <a href="/">
              {% if logo %}
              <img src="{{ logo.image_url }}"  alt="{{ brand.text }}" />
              {% endif %}
            </a>
          </div>
          <div class="navbar-collapse offcanvas-nav">
            <div class="offcanvas-header d-lg-none d-xl-none">
              <a href="/">
                {% if logo %}
                <img src="{{ logo.image_url }}" alt="{{ brand.text }}" />
                {% endif %}
              </a>
                <button type="button" class="btn-close btn-close-white offcanvas-close offcanvas-nav-close" aria-label="Close"></button>
            </div>
            <ul class="navbar-nav"> <! --- needs improvement so that the sub pages show well --->
              {%- for item in pages recursive %}
              <li class="nav-item"><a class="nav-link " href="/preview/{{ template_name}}/{{item.name }}">{{ item.name }}</a>                
                {%- if item.sub_pages -%}
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="dropdown-item"  href="/preview/{{ template_name}}/{{ item.sub_pages.name}}">{{ item.sub_pages.name}}</a>
                      </li>
                </ul>
                {%- endif %}
              </li>
              {%- endfor %}
                <!--/.dropdown-menu -->
            </ul>
            <!-- /.navbar-nav -->
          </div>
          <!-- /.navbar-collapse -->
          <div class="navbar-other w-100 d-flex ms-auto">
            <ul class="navbar-nav flex-row align-items-center ms-auto" data-sm-skip="true">

                {% if call_to_action %}
                {% for show in call_to_action %}
                {# if show.show_on_navbar is true #}
                {% if show.is_login == true %}
                <li class="nav-item">
                <a href="{{ show.url }}" class="btn btn-sm btn-{{ show.button_type }} rounded" data-bs-toggle="modal" target="_blank">{{ show.text }}</a>
                </li>
                {% elif not show.is_login == true and not show.is_signup and show.show_on_navbar is true %}
                <li class="nav-item">
                  <a href="{{ show.url }}" class="nav-link" data-bs-toggle="modal" target="_blank">{{ show.text }}</a>
                  </li>
                {% endif %}
                {% if show.is_signup == true %}
                <li class="nav-item d-none d-md-block">
                  <a href="{{ show.url }}" class="btn btn-sm btn-{{ show.button_type }} rounded" data-bs-toggle="modal" target="_blank">{{ show.text }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% endif %}

              <li class="nav-item d-lg-none">
                <div class="navbar-hamburger"><button class="hamburger animate plain" data-toggle="offcanvas-nav"><span></span></button></div>
              </li>
            </ul>
            <!-- /.navbar-nav -->
          </div>
          <!-- /.navbar-other -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
      <!--/.modal -->
    </header>
    <!-- /header -->
    <section class="wrapper bg-soft-primary">
      <div class="container pt-10 pb-15 pt-md-14 pb-md-20 text-center">
        <div class="row">
          <div class="col-md-10 col-lg-8 col-xl-8 col-xxl-6 mx-auto mb-13" data-cues="slideInDown" data-group="page-title">
            <h1 class="display-1 mb-4">{{ home_title.firstext }}</h1>
            <p class="lead fs-lg px-xl-12 px-xxl-6 mb-7">{{ home_title.secondtext }}</p>
            <div class="d-flex justify-content-center" data-cues="slideInDown" data-group="page-title-buttons" data-delay="600">
              {% if call_to_action %}
              {% for show in call_to_action %}
              <span><a href="{{ show.url }}" class="btn btn-{{ show.button_type }} rounded mx-1">{{ show.text }}</a></span>
                {% endfor %}
                {% endif %}
            </div>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container py-14 py-md-16">
        <div class="row gx-0 mb-16 mb-mb-20">
          <div class="col-9 col-sm-10 col-lg-9 mx-auto mt-n15 mt-md-n20" data-cues data-group="images" data-delay="1500">
            <img class="img-fluid mx-auto rounded shadow-lg" data-cue="slideInUp" src="{{ url_for('static', filename='Sandbox/')}}/assets/img/photos/sa1.jpg" srcset="./assets/img/photos/sa1@2x.jpg 2x" alt="" />
            <img class="position-absolute rounded shadow-lg" data-cue="slideInRight" src="{{ url_for('static', filename='Sandbox/')}}/assets/img/photos/sa2.jpg" srcset="./assets/img/photos/sa2@2x.jpg 2x" style="top: 20%; right:-10%; max-width:30%; height: auto;" alt="" />
            <img class="position-absolute rounded shadow-lg" data-cue="slideInLeft" src="{{ url_for('static', filename='Sandbox/')}}/assets/img/photos/sa3.jpg" srcset="./assets/img/photos/sa3@2x.jpg 2x" style="top: 10%; left:-10%; max-width:30%; height: auto;" alt="" />
            <img class="position-absolute rounded shadow-lg" data-cue="slideInLeft" src="{{ url_for('static', filename='Sandbox/')}}/assets/img/photos/sa4.jpg" srcset="./assets/img/photos/sa4@2x.jpg 2x" style="bottom: 10%; left:-13%; max-width:30%; height: auto;" alt="" />
          </div>
          <!-- /column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    {% if features %}
    <section class="wrapper bg-soft-primary">
      <div class="container py-14 py-md-16">
        {% if feature_title %}
        <div class="row text-center">
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h2 class="fs-15 text-uppercase text-muted mb-3">{{ feature_title.title }}</h2>
            <h3 class="display-4 mb-9 px-xl-11">{{ feature_title.description }}</h3>
          </div>
          <!-- /column -->
        </div>
        {% endif %}
        <!-- /.row -->
        <div class="row gx-lg-8 gx-xl-12 gy-8">
          {% for f in features %}
          <div class="col-md-6 col-lg-4">
            <div class="d-flex flex-row">
              <div>
                <img src="{{ url_for('static', filename='Sandbox/assets/img/icons/')}}{{f.icon }}.svg" class="svg-inject icon-svg icon-svg-sm text-aqua me-4" alt="" />
              </div>
              <div>
                <h4 class="mb-1">{{ f.title }}</h4>
                <p class="mb-0">{{ f.description }}</p>
              </div>
            </div>
          </div>
          <!--/column -->
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    {% endif %}
    {% if services %}
    <section class="wrapper bg-light">
      <div class="container py-14 py-md-16 text-center">
        {% if services_title %}
        <div class="row">
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h2 class="fs-15 text-uppercase text-muted mb-3">{{services_title.title}}</h2>
            <h3 class="display-4 mb-10 px-xl-10">{{services_title.description }}</h3>
          </div>
          <!-- /column -->
        </div>
        {% endif %}
        <!-- /.row -->
        <div class="position-relative">
          <div class="shape rounded-circle bg-soft-blue rellax w-16 h-16" data-rellax-speed="1" style="bottom: -0.5rem; right: -2.2rem; z-index: 0;"></div>
          <div class="shape bg-dot yellow rellax w-16 h-17" data-rellax-speed="1" style="top: -0.5rem; left: -2.5rem; z-index: 0;"></div>
          <div class="row gx-md-5 gy-5 text-center">
            {% for service in services %}
            <div class="col-md-6 col-xl-3">
              <div class="card shadow-lg">
                <div class="card-body">
                  <img src="{{ url_for('static', filename='Sandbox/assets/img/icons/')}}{{service.icon }}.svg" class="svg-inject icon-svg icon-svg-md text-yellow mb-3" alt="" />
                  <h4>{{ service.title }}</h4>
                  <p class="mb-2">{{ service.description }}</p>
                  <a href="{{ service.url }}" class="more hover link-{{ service.colour }}">{{ service.action_text }}</a>
                </div>
                <!--/.card-body -->
              </div>
              <!--/.card -->
            </div>
            <!--/column -->
            {% endfor %}
          </div>
          <!--/.row -->
        </div>
        <!-- /.position-relative -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    {% else %}
    {% endif %}
    {% if process %}
    <section class="wrapper bg-light">
      <div class="container py-14 py-md-16">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
          {% if process_title %}
          <div class="col-lg-7">
            <figure><img class="w-auto" src="{{ process_title.image_url }}" srcset="{{ process_title.image_url }} 2x" alt="" /></figure>
          </div>
          <!--/column -->
          <div class="col-lg-5">
            <h2 class="fs-15 text-uppercase text-line text-primary mb-3">{{ process_title.title }}</h2>
            <h3 class="display-5 mb-7 pe-xxl-5">{{ process_title.description }}</h3>
            {% endif %}
            {% for p in process %}
            <div class="d-flex flex-row mb-4">
              <div>
                <span class="icon btn btn-circle btn-primary disabled me-5"><span class="number fs-18">{{ p.id }}</span></span>
              </div>
              <div>
                <h4 class="mb-1">{{ p.steps }}</h4>
                <p class="mb-1">{{ p.description }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    {% endif %}
    {% if pricing_title %}
    <section class="wrapper bg-soft-primary">
      <div class="container pt-14 pb-18 pt-md-17 pb-md-22 text-center">
        <div class="row">
          <div class="col-lg-10 col-xl-9 col-xxl-8 mx-auto">
            <h3 class="display-4 mb-15 mb-md-6 px-lg-10">{{ pricing_title.description }}</h3>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    {% endif %}
    {% if pricing and  pricing_attribute and cost %}
    <section class="wrapper bg-light">
      <div class="container py-14 py-md-16">
        <div class="pricing-wrapper position-relative mt-n22 mt-md-n24">
          <div class="shape bg-dot primary rellax w-16 h-18" data-rellax-speed="1" style="top: 2rem; right: -2.4rem;"></div>
          <div class="shape rounded-circle bg-line red rellax w-18 h-18 d-none d-lg-block" data-rellax-speed="1" style="bottom: 0.5rem; left: -2.5rem;"></div>
          <div class="pricing-switcher-wrapper switcher">
            <p class="mb-0 pe-3">Monthly</p>
            <div class="pricing-switchers">
              <div class="pricing-switcher pricing-switcher-active"></div>
              <div class="pricing-switcher"></div>
              <div class="switcher-button bg-primary"></div>
            </div>
            <p class="mb-0 ps-3">Yearly</p>
          </div>
          <div class="row gy-6 mt-3 mt-md-5">
            {% for p in pricing %}
            {% if p.is_popular is true %}
            <div class="col-md-6 col-lg-4 popular">
              {% else %}
            <div class="col-md-6 col-lg-4">
              {% endif %}
              <div class="pricing card shadow-lg text-center">
                <div class="card-body">
                  <img src="{{ url_for('static', filename='Sandbox/assets/img/icons/shopping-basket.svg')}}" class="svg-inject icon-svg icon-svg-md text-primary mb-3" alt="" />
                  <h4 class="card-title">{{ p.title }}</h4>
                  <div class="prices text-dark">
                    {%  for price in p.costs %}
                    <div class="price price-show"><span class="price-currency">{{price.currency_icon}}</span><span class="price-value">{{price.figure}}</span> <span class="price-duration">month</span></div>
                    <div class="price price-hide price-hidden"><span class="price-currency">{{ price.currency_icon}}</span><span class="price-value">{{ price.figure * 12}}</span> <span class="price-duration">year</span></div>
                    {% endfor %}
                  </div>
                  <!--/.prices -->
                  <ul class="icon-list bullet-bg bullet-soft-primary mt-8 mb-9 text-start">
                    {%  for feature in p.pricing_attributes %}
                    <li><i class="uil uil-check"></i><span><strong>1</strong> {{ feature.description}} </span></li>
                    {% endfor %}
                  </ul>
                  <a href="{{ p.button_url }}" class="btn btn-{{ p.button_type }} rounded">{{ p.button_text }}</a>
                </div>
                <!--/.card-body -->
              </div>
              <!--/.pricing -->
            </div>
            <!--/column -->
            {% endfor %}
            {% endif %}

          </div>
          <!--/.row -->
        </div>
        <!--/.pricing-wrapper -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper image-wrapper bg-auto no-overlay bg-image text-center bg-map" data-image-src="{{ url_for('static', filename='Sandbox/assets/img/map.png')}}">
      <div class="container pt-0 pb-14 pt-md-18 pb-md-18">
        <div class="row">
          <div class="col-lg-10 col-xl-9 col-xxl-8 mx-auto">
            <h3 class="display-4 mb-8 px-lg-12">{{ home_title.firstext }}</h3>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="d-flex justify-content-center" data-cues="slideInDown" data-group="join">
          {% if call_to_action %}
          {% for show in call_to_action %}
          <span><a href="{{ show.url }}" class="btn btn-{{ show.button_type }} rounded mx-1">{{ show.text }}</a></span>
          {% endfor %}
          {% endif %}
        </div>
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </section>
  {% if faq %} 
  <!-- /section -->
  <section class="wrapper bg-soft-primary">
    <div class="container py-14 py-md-17">
      <div class="row">
        <div class="col-lg-11 col-xxl-10 mx-auto text-center">
          <h2 class="fs-15 text-uppercase text-muted mb-3">FAQ</h2>
          <h3 class="display-4 mb-10 px-lg-12 px-xl-10 px-xxl-15">Frequently Asked Questions.</h3>
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <div id="accordion-3" class="accordion-wrapper">
            {% for f in faq %}
            {% if f.id == 1 %} 
            <div class="card shadow-lg">
              <div class="card-header" id="accordion-heading-3-1">
                <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-3-1" aria-expanded="false" aria-controls="accordion-collapse-3-1">{{ f.question }}</button>
              </div>
              <!-- /.card-header -->
              <div id="accordion-collapse-3-1" class="collapse" aria-labelledby="accordion-heading-3-1" data-bs-target="#accordion-3">
                <div class="card-body">
                  <p>{{ f.answer | safe }}</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.collapse -->
            </div>
            {%  endif %}
            {% endfor %}
            <!-- /.card -->
            {% for f in faq %}
            {% if f.id == 2 %} 
            <div class="card shadow-lg">
              <div class="card-header" id="accordion-heading-3-2">
                <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-3-2" aria-expanded="false" aria-controls="accordion-collapse-3-2">{{ f.question }}</button>
              </div>
              <!-- /.card-header -->
              <div id="accordion-collapse-3-2" class="collapse" aria-labelledby="accordion-heading-3-2" data-bs-target="#accordion-3">
                <div class="card-body">
                  <p>{{ f.answer | safe }}</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.collapse -->
            </div>
            {%  endif %}
            {% endfor %}
            <!-- /.card -->
            {% for f in faq %}
            {% if f.id == 3 %} 
            <div class="card shadow-lg">
              <div class="card-header" id="accordion-heading-3-3">
                <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-3-3" aria-expanded="false" aria-controls="accordion-collapse-3-3">{{ f.question }}</button>
              </div>
              <!-- /.card-header -->
              <div id="accordion-collapse-3-3" class="collapse" aria-labelledby="accordion-heading-3-3" data-bs-target="#accordion-3">
                <div class="card-body">
                  <p>{{ f.answer | safe }}</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.collapse -->
            </div>
            {%  endif %}
            {% endfor %}
            <!-- /.card -->
            {% for f in faq %}
            {% if f.id == 4 %} 
            <div class="card shadow-lg">
              <div class="card-header" id="accordion-heading-3-4">
                <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-3-4" aria-expanded="false" aria-controls="accordion-collapse-3-4">{{ f.question }}</button>
              </div>
              <!-- /.card-header -->
              <div id="accordion-collapse-3-4" class="collapse" aria-labelledby="accordion-heading-3-4" data-bs-target="#accordion-3">
                <div class="card-body">
                  <p>{{ f.answer | safe }}</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.collapse -->
            </div>
            {%  endif %}
            {% endfor %}
            <!-- /.card -->
            {% for f in faq %}
            {% if f.id == 5 %} 
            <div class="card shadow-lg">
              <div class="card-header" id="accordion-heading-3-5">
                <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-3-5" aria-expanded="false" aria-controls="accordion-collapse-3-5">{{ f.question }}</button>
              </div>
              <!-- /.card-header -->
              <div id="accordion-collapse-3-5" class="collapse" aria-labelledby="accordion-heading-3-5" data-bs-target="#accordion-3">
                <div class="card-body">
                  <p>{{ f.answer | safe }}</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.collapse -->
            </div>
            {%  endif %}
            {% endfor %}
            <!-- /.card -->
            {% for f in faq %}
            {% if f.id == 6 %} 
            <div class="card shadow-lg">
              <div class="card-header" id="accordion-heading-3-6">
                <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-3-6" aria-expanded="false" aria-controls="accordion-collapse-3-6">{{ f.question }}</button>
              </div>
              <!-- /.card-header -->
              <div id="accordion-collapse-3-6" class="collapse" aria-labelledby="accordion-heading-3-6" data-bs-target="#accordion-3">
                <div class="card-body">
                  <p>{{ f.answer | safe }}</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.collapse -->
            </div>
            {%  endif %}
            {% endfor %}
            {% for f in faq %}
            {% if f.id == 7 %} 
            <div class="card shadow-lg">
              <div class="card-header" id="accordion-heading-3-7">
                <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-3-7" aria-expanded="false" aria-controls="accordion-collapse-3-7">{{ f.question }}</button>
              </div>
              <!-- /.card-header -->
              <div id="accordion-collapse-3-7" class="collapse" aria-labelledby="accordion-heading-3-7" data-bs-target="#accordion-3">
                <div class="card-body">
                  <p>{{ f.answer | safe }}</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.collapse -->
            </div>
            {%  endif %}
            {% endfor %}
			
            {% for f in faq %}
            {% if f.id == 8 %} 
            <div class="card shadow-lg">
              <div class="card-header" id="accordion-heading-3-8">
                <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-3-8" aria-expanded="false" aria-controls="accordion-collapse-3-8">{{ f.question }}</button>
              </div>
              <!-- /.card-header -->
              <div id="accordion-collapse-3-8" class="collapse" aria-labelledby="accordion-heading-3-8" data-bs-target="#accordion-3">
                <div class="card-body">
                  <p>{{ f.answer | safe }}</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.collapse -->
            </div>
            {%  endif %}
            {% endfor %}
            <!-- /.card -->
            {% for f in faq %}
            {% if f.id == 9 %} 
            <div class="card shadow-lg">
              <div class="card-header" id="accordion-heading-3-9">
                <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-3-9" aria-expanded="false" aria-controls="accordion-collapse-3-9">{{ f.question }}</button>
              </div>
              <!-- /.card-header -->
              <div id="accordion-collapse-3-9" class="collapse" aria-labelledby="accordion-heading-3-9" data-bs-target="#accordion-3">
                <div class="card-body">
                  <p>{{ f.answer | safe }}</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.collapse -->
            </div>
            {%  endif %}
            {% endfor %}
            <!-- /.card -->
            {% for f in faq %}
            {% if f.id == 10 %} 
            <div class="card shadow-lg">
              <div class="card-header" id="accordion-heading-3-10">
                <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-3-10" aria-expanded="false" aria-controls="accordion-collapse-3-10">{{ f.question }}</button>
              </div>
              <!-- /.card-header -->
              <div id="accordion-collapse-3-10" class="collapse" aria-labelledby="accordion-heading-3-10" data-bs-target="#accordion-3">
                <div class="card-body">
                  <p>{{ f.answer | safe }}</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.collapse -->
            </div>
            {%  endif %}
            {% endfor %}
            <!-- /.card -->
          </div>
          <!-- /.accordion-wrapper -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->
  {% endif %}
  </div>
  {% if client %}
  <section class="wrapper bg-light">
    <div class="container py-14 py-md-16">
      <div class="row gx-lg-8 gx-xl-12 gy-10 gy-lg-0">
        {% if client_title %}
        <div class="col-lg-4 mt-lg-2">
          <h2 class="fs-15 text-uppercase text-muted mb-3">Our Clients</h2>
          <h3 class="display-4 mb-3 pe-xxl-5">{{ client_title.title }}</h3>
          <p class="lead fs-lg mb-0 pe-xxl-5">{{ client_title.description }}</p>
        </div>
        {% endif %}
        <!-- /column -->
        <div class="col-lg-8">
          <div class="row row-cols-2 row-cols-md-4 gx-0 gx-md-8 gx-xl-12 gy-12">
            {%  for c in client %}
            <div class="col">
              <figure class="px-3 px-md-0 px-xxl-2"><img src="{{ c.image_url }}" alt="" /></figure>
            </div>
            {% endfor %}
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->
  {% endif %}
  {% if testimonial %}
  <section class="wrapper bg-soft-primary">
    <div class="container py-14 py-md-16">
      {% if testimonial_title %}
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mx-auto text-center">
          <h2 class="fs-15 text-uppercase text-muted mb-3">{{testimonial_title.title}}</h2>
          <h3 class="display-4 mb-10 px-xl-10 px-xxl-15">{{testimonial_title.description}}</h3>
        </div>
        <!-- /column -->
      </div>
      {% endif %}
      <!-- /.row -->
      <div class="grid">
        <div class="row isotope gy-6">
          {% for t in testimonial %}
          <div class="item col-md-6 col-xl-4">
            <div class="card">
              <div class="card-body">
                <!---<span class="ratings five mb-3"></span>--->
                <blockquote class="icon mb-0">
                  <p>“{{t.comment}}”</p>
                  <div class="blockquote-details">
                    <img class="rounded-circle w-12" src="{{ t.image_url }}" srcset="{{t.image_url}} 2x" alt="" />
                    <div class="info">
                      <h5 class="mb-1">{{t.full_name}}</h5>
                      <p class="mb-0">{{t.job_title}}</p>
                    </div>
                  </div>
                </blockquote>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!--/column -->
          {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.grid-view -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->
  {% endif %}
  <!-- /.content-wrapper -->
  <footer class="bg-dark text-inverse mt-5 mt-md-16">
    <div class="container py-13 py-md-15">
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            {% if logo %}
            <img class="mb-4" src="{{ logo.image_url }}" alt="{% if brand %} {{ brand.text }} {% endif %}" />
            {% endif %}
            <p class="mb-4">© 2021 {% if copyright_text %} {{ copyright_text.text}} {% endif %}. <br class="d-none d-lg-block" />All rights reserved.</p>
            {% if media_icons %}
            <nav class="nav social social-white">
              {% for icon in media_icons %}
              <a href="{{ icon.url_link }}" target=“_blank”><i class="uil uil-{{ icon.icon }}"></i></a>
            </nav>
            {% endfor %}
            {% endif %}
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">{% if footer_text %} {{ footer_text.title | safe }} {% endif %} </address>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Learn More</h4>
            <ul class="list-unstyled  mb-0">
              {% if pages %}
              {% for page in pages %}
              <li><a href="/preview/{{ template_name}}/{{page.name}}">{{ page.name }}</a></li>
              {% endfor %}
              {% endif %}
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='Sandbox/assets/js/plugins.js')}}"></script>
  <script src="{{ url_for('static', filename='Sandbox/assets/js/theme.js')}}"></script>
</body>

</html>