{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('admin.event_index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Added Images
                <div class="sub header">
                    View and manage current shown on the event page. Please make sure your image is 128x128 so that they fit well. Adding images are optional!
                </div>
            </h2>
            <div class="ui header" style="width: 100%; height: 50px">
                <a class="ui teal right floated button" href="{{ url_for('admin.add_event_sponsor_image',_external=True) }}">Add New Image</a>
			</div>
            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
					        <th>ID</th>
                            <th>Image filename</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for u in slideshow  %}
                        <tr>

                            <td>{{ u.id }}</td>
                            <td>{{ u.image }}</td>
                            <td> <a class="ui red left floated button" style="margin-top: 1px"
                                   href="{{ url_for('admin.delete_image', image_id=u.id) }}" onclick="return confirmDeleteSlideshow('{{ slideshow.id }}');" data-content="{{ slideshow.id }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function confirmDeleteSlideshow(slideshow_id){
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this slideshow",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        let form = $("#delete-slideshow-form");
                        form.attr('action', "{{ url_for('admin.delete_slideshow', slideshow_id=0) }}".replace('0',slideshow_id));
                        form.submit();
                    } else {
                        return false;
                    }
                });
            return false;
        }
    </script>
{% endblock %}