{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('content_manager.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Added Feature Area's Title & Description
                <div class="sub header">
                    View and manage feature area's title & description.
                </div>
            </h2>
            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
					        <th>ID</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if data %}
                        <tr>

                            <td>{{ data.id }}</td>
                            <td>{{ data.title }}</td>
                            <td>{{ data.description }}</td>
							<td><a class="ui blue left floated button" href="{{ url_for('content_manager.edit_feature_title', id=data.id) }}">Edit</a></td>
                            <td> <a class="ui red left floated button" style="margin-top: 1px"
                                   href="{{ url_for('content_manager.delete_feature_title', id=data.id) }}" onclick="return confirmDeleteFeature('{{ data.id }}');" data-content="{{ data.id }}">Delete</a></td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function confirmDeleteFeatureTitle(id){
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this feature",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        let form = $("#delete-feature-title-form");
                        form.attr('action', "{{ url_for('content_manager.delete_feature_title', id=0) }}".replace('0',id));
                        form.submit();
                    } else {
                        return false;
                    }
                });
            return false;
        }
    </script>
{% endblock %}