{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                HTML Content Manager
            </h2>            
            <div class="ui inverted red segment">
                <h3 class="sub header">
                    Information
                  </h3>
                <div class="content">
                    <ul class="ui list">
                        <li><p>Use this to add edit or html & JavaScript for the whole website. It does require any coding or programming.</p></li>
                        <li><p>Only use this section if you selected the Bare template in the Template Manager.</p></li>
                        <li><p>Currently you cannot use this to edit other templates aside from the Bare template. 
                            Use it only if you have HTML/CSS skils.
                        </p></li>
                      </ul>
                </div>
              </div>
            <div class="ui two column stackable grid">
                {{ dashboard_option('Manage Header Html', 'html_manager.add_header_html',
                                    description='Manage Header Html Code', icon='pencil alternate icon') }}
                {{ dashboard_option('Manage Header Js Script', 'html_manager.add_header_script',
                                    description='Manage Header JavaScript Code', icon='pencil alternate icon') }}
                {{ dashboard_option('Manage Navbar Html', 'html_manager.add_navbar_html',
                                    description='Manage Navbar Html Code', icon='pencil alternate icon') }}
                {{ dashboard_option('Manage Jumbotron Html', 'html_manager.add_jumbotron_html',
                                    description='Manage Jumbotron Html Code', icon='pencil alternate icon') }}
                {{ dashboard_option('Manage Carousel Html', 'html_manager.add_carousel_html',
                                    description='Manage Carousel Html Code', icon='pencil alternate icon') }}
                {{ dashboard_option('Manage Album Html', 'html_manager.add_album_html',
                                    description='Manage Album Html Code', icon='pencil alternate icon') }}
                {{ dashboard_option('Manage Form Html', 'html_manager.add_form_html',
                                    description='Manage Form Html Code', icon='pencil alternate icon') }}
                {{ dashboard_option('Manage Blank Html', 'html_manager.add_blank_html',
                                    description='Manage Blank Html Code', icon='pencil alternate icon') }}
               {{ dashboard_option('Manage Footer Html', 'html_manager.add_footer_html',
                                    description='Manage Footer Html Code', icon='pencil alternate icon') }}		
                {{ dashboard_option('Manage Footer Js Script', 'html_manager.add_footer_script',
                                    description='Manage Footer JavaScript Code', icon='pencil alternate icon') }}									
                {{ dashboard_option('Manage Pricing Html', 'html_manager.add_pricing_html',
                                    description='Manage Pricing Html Code', icon='pencil alternate icon') }}
                {{ dashboard_option('Manage Contact Html', 'html_manager.add_contact_html',
                                    description='Manage Contact Html Code', icon='pencil alternate icon') }}
                {{ dashboard_option('Manage Testimonials Html', 'html_manager.add_testimonials_html',
                                    description='Manage Testimonials Html Code', icon='pencil alternate icon') }}
            </div>
        </div>
    </div>
{% endblock %}